body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#controls {
  background: rgba(255, 255, 255, 0.9);
  padding: 10px;
  z-index: 10;
  flex-shrink: 0;
  margin-bottom: 20px;
}

#viewer {
  flex-grow: 1;
}

#log {
  height: 20vh;
  overflow-y: scroll;
  background: #000;
  color: #fff;
  padding: 10px;
  flex-shrink: 0;
}
